@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital@1&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #120e43;
  font-family: "Nunito Sans", sans-serif;
}

.heading {
  margin-top: 1px;
  text-align: center;
  color: #fff;
}

#block_main__div {
  margin-top: 32px;
  height: 505px;
  width: 870px;
  margin-left: 20px;
  border: 2px solid #000;
  border-radius: 20px;
}

.block_main__heading {
  position: absolute;
  color: #000;
  top: 60px;
  left: 480px;
  border-bottom: 1px solid #000;
}

.block__game {
  position: absolute;
  right: 20px;
  top: 68px;
  width: 500px;
  height: 505px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 20px;
}

.block_game__heading {
  position: absolute;
  top: 40px;
  left: 40px;
}

.block__game .button {
  display: inline;
  font-size: 16px;
  min-width: 100px;
  background-color: #000;
  border-radius: 10px;
  border: 0;
  padding: 10px 16px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.block__game .button.runButton {
  background-color: #1faa59;
}

.block__game .button.resetButton {
  background-color: #b4161b;
}

.block__game .button-container {
  padding: 16px;
}

.block__game .text-input {
  padding: 8px;
  min-height: 20px;
  margin-bottom: 20px;
  border: 1px solid #000;
  border-radius: 4px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

#footer {
  position: absolute;
  bottom: 10px;
  height: 80px;
  width: 90vw;
  margin-left: 60px;
  color: #000;
  background-color: #fff;
  transition: 0.5s ease all;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid #000;
  border-radius: 20px;
}
.footer__title {
  font-size: 2rem;
  margin-bottom: 10px;
}

#footer img {
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
}
